body{
  background-color: #f9f6ff;
}

.admin-footer{
    background-color: azure;
}

.admin-bg{
    background-color: rgb(219, 226, 234);
}

.hide-scrollbar {
  overflow-y: scroll;
  scrollbar-gutter: stable;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
}

.color-official{
  color: #8c52ff !important;
}

.btn-official{
  background-color: #8c52ff !important;
  color: white !important;
}

.btn-outline-official,
.border-official{
  border-color: #8c52ff !important;
}

.bg-official{
  background-color: #8c52ff !important;
}

.color-official2{
  color: rgb(199, 161, 234);
}

.center-view{
    max-width: 400 !important;
}

.activeTab{
  color: #8c52ff;
  background-color: rgb(239, 222, 255);
}

/* .activeTabText{

} */

.btn:active{
  border-color: transparent !important;
}

.red-info{
  color: red;
}

.green-info{
  color: rgb(0, 204, 51);
}

.card1{
  background-color: rgb(246, 237, 255);
}

.card2{
  background-color: #210064;
  color: white;
}

.green-card{
  background-color: rgb(235, 255, 245);
}

.red-card{
  background-color: rgb(255, 235, 235);
}

.bg-search{
  background-color: rgba(144, 139, 145, 0.048);
}